body{
    background-color: #C6C0A0;
    font-family: Georgia;
}
h2{
    color: #7D775C;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}
h3{
    color: #7D775C;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}
li{
    margin-bottom: 12px;
}
.mot_vert{
    color: green;
}
#duree
{
    color: red;
    font-size: 25px;
    text-decoration: underline;
}
#container
{
    float: right;
    margin-right: 2%;
    background-color: white;
    font-size: 75%;
    color: #555753;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 8px 8px 12px #aaa;
    -moz-box-shadow: 8px 8px 12px #aaa;
    -webkit-box-shadow: 8px 8px 12px #aaa;
    width:80%;
}
#menu {
    float: left;
    margin-left: 4%;
    padding: 0;
    font: bold 1em "georgia" ,verdana;
    list-style-type: none;
    }
#menu a {
    display: block;
    margin: 5%;
    color: #508768;
    text-decoration: none;
    line-height:2em;
    width:120%;
    border:1px solid blue;
    background-color: #BDD7B5;
    text-align: center;
    border-radius: 10px;
    box-shadow: 8px 8px 12px #aaa;

}
#menu a:hover, #menu a:focus {
    color: #BDD7B5;
    background-color: #508768;
}