body{
    width: 200px;
    margin-left: 5px;
    background-color: skyblue;

}

.gauche{
    text-align: left;
    
}
.droite{
    text-align: right;
}
.justifiée{
    text-align: justify;
}
h2{
    color: blue;
    font-size: 1.5em;
    text-transform: capitalize;
}
p{
    color: red;
}
button{
    background-color: yellow;
    width: 100px;
}