body{
    background-color: lightgray;
    font-family: colibri;
}
fieldset{
    margin-left: auto;
    margin-right: auto;
   background-color: white;
    width: 50%;
    height: 100%;
    padding-left: 5px;
    font-size: 200%;
    padding-bottom: 5%;
    flex-direction: column;
    
}
fieldset legend{
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: gray;
    color: white;
    font-weight: bold;
    font-family: calibri;
}
input{
    font-size: 80%;
    height: 75%;
}
#valide{
    height: 110%;
    background-color: rgb(255, 94, 0);
    color: white;
    border-width: 0px;
    border-radius: 15px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.grille{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    grid-auto-rows: 14%;
}
