h1{
    text-align: center;
}
table td{
    vertical-align: top;
    padding: 0 10px;
    width: 150px;
   
}
p{
    margin-bottom: 30px;
    text-align: justify;
}
img{
    float: right;
}
table{
    margin: auto;
}