h1{
    font-size: 15px;

}
section{
    margin-top:130px;
    text-align: center;
    font-weight: bold;
}
h2{
    font-size: 50px;
}
section p{
    margin-top: 40px;
    font-size: 30px;
    
}
body{
    
    background-image: url(images/afpa.gif);
}
footer{
    margin-top: 50px;
    font-size: 18px;
}