body{
    /* background-color: #E6D9C1; */
    background: url(images/DD-Vector-Grunge-Frame-34231-Preview.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* border-radius: 20px; */
}
header{
    height: 300px;
    background-image: url(images/header.png);
    background-size: 100% 100%;
}
footer{
    height: 300px;
    background-image: url(images/footer.png);
    background-size: 100% 100%;
}
address{
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 30px;
    font-family: Cenzil;
}
#information{
    font-family: Cinzel;
    padding: 2%;
    
}
#savoirs{
    font-family: Cinzel;
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: 1fr 2fr 1fr; */
    border: none;
    height: 400px;
}

h1,h2{
    text-align: center;
    font-family: Cinzel;
    
}
.icone{
    margin-right: 20px;
}
.colonnes{
    display: grid;
    grid-template-columns: 50% 50%;
}
.colonne2{
    text-align: right;
    vertical-align: baseline;
}
.colonne1{
    display: list-item;
    list-style-type: square;
}
#main {
    font-family: Cinzel;
    padding: 3%;
    border: 0ch;
  }
dl{
    padding-left: 3%;
}
#corps{
    font-family: Cinzel;
    margin-left: auto;
    margin-right: auto;
    width:69%;
    background-image: url(images/corps.png);
    background-size: 100% 100%;
    padding: 2% 8% 2% 8%;
    font-size: 25px;
}
h1{
    padding-top: 80px;
    font-size: 300%;
    color: #646F58;
}
h2{
    font-size: 200%;
    color: #413e35;
}
#langue{
    list-style: none;
}
#langue li{
    display: flex;
    align-items: center;
    height: 60px;
}
#intro{
    font-size: 50px;
    font-family: Corinthia;
}
h3{
    color: #646F58;
    font-size: 40px;
}
#liens{
    display: flex;
    justify-content: space-between;
    margin-top: -40px;
}
#savoir-etre li{
    margin-bottom: 30px;
}

#competences ul li{
    margin-bottom: 15px;
}
#lien-reseau a{
    margin-left: 60px;
    margin-right: 60px;
}

@media only screen and (max-width: 600px) {
    body{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    header{
        height: 140px;
        width: 100%;
    }
    footer{
        height: 240px;
    }
    address{
        margin: 0% 3%;
        padding-top: 15px;
        font-size: 15px;
    }
    #information{
        padding: 15px;
        
    }
    #savoirs{
        display: block;
        height: 100%;
    }
    .icone{
        margin-right: 15px;
        height:24px;
        width: 24px;
    }
    #main {
        padding: 15px;
      }
    dl{
        padding-left: 30px;
    }
    #corps{
        margin-left: auto;
        margin-right: auto;
        width:73%;
        font-size: 10px;
    }
    h1{
        padding-top: 20px;
        font-size: 25px;
    }
    h2{
        font-size: 15px;
        color: #413e35;
    }
    #langue li{
        height: 30px;
    }
    #intro{
        font-size: 25px;
    }
    h3{
        font-size: 15px;
    }
    #liens{
        display: block;
        height: 100%;
        margin-top: -5%;
        padding-bottom: 20px;
    }
    #lien-reseau a{
        margin-left: 0px;
        margin-right: 0px;
    }
    #savoir-etre li{
        margin-bottom: 10px;
    }
    
    #competences ul li{
        margin-bottom: 10px;
    }
    .picture{
        height:24px;
        width: 24px;
    }
    dd{
        margin-left: 4px;
    }
    H4{
        font-size: 13px;
    }
}