*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}
body{
    text-align: center;
    margin: 0;
    color: white;
    min-height: 200vh;
}
.box{
    border: 6px solid white;
    transition: 0.25s ease;
    background: black;
    padding: 10px;
}
p{
    visibility: hidden;
    width: 240px;
    margin:10px auto 0;
    opacity: 0;
    transition: 0.6s;
    transform: translateX(-200px);
}
.question-clicked{
    border-radius: 30px;
    border: 6px dashed pink;
}
.show-response{
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.mousemove{
    height: 50px;
    width: 50px;
    border: 2px solid pink;
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    transition: 0.2s ease;
}