.liste{
    margin-bottom: 1em;
}
.icone{
    margin-right: 1em;
}
.rose{
    color: #372c55;
}
.transparent{
    background-color: rgba(255,255,255,0.2);
    color: #372c55 ;
}
.titre{
    background-color: rgba(255,255,255,0.5);
    color: #372c55 ;
}
body{
    background: rgb(9,230,246);
    background: linear-gradient(163deg, rgba(9,230,246,1) 0%, rgba(138,129,124,1) 48%, rgba(158,228,147,1) 100%);
    color: #372c55 ;
    font-size: 1.4em;
    min-height: 100vh;
}
#contacts{
    border: #372c55 solid 0.5em;
    border-radius: 30px;
    min-height: 73vh;
    min-width: 250px;
}
header{
    background-color: #372c55 ;
    color: rgb(9,230,246);
    min-height: 20vh;
}
h1{
    font-size: 3em;
}

@media screen and (max-width:900px)  {
    #contacts{
        min-height: 6vh;
    }
    }

@media screen and (max-width:573px)  {
    
body{
    font-size: 0.8em;
}
li{
    margin-left: -5px;
}
#contacts{
    min-height: 6vh;
}
}

